# Exclude all Markdown files except README
*.md
!README.md

# Keep the final report notebook local only
Project_Repport/Neural_LOD_Final_Report.ipynb
Project_Repport/
/Final_Build
/ml_pipeline/data/RL/Train - Copy/
/ml_pipeline/data/RL/Train - Copy (2)/
